apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-key
  namespace: cert-manager
type: Opaque
data:
  apiToken: {{ required "cloudflare.apiToken is required" .Values.cloudflare.apiToken | toString | b64enc | quote }}
